# Dependencies
node_modules/
backend/venv/
.venv/

# Builds
.next/
out/
build/
dist/
staticfiles/

# Environment variables
.env
.env.local
.env.*.local

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite3

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
